
body {
	font-family: "Noto Sans JP", sans-serif;
	font-display: swap;
}

#mirror {
	font-family: "Noto Sans JP", sans-serif;
}

#reflection {
	font-family: "Klee One", sans-serif;
	overflow: auto;
}
