
body {
	font-family: "Noto Sans JP", sans-serif;
	font-display: swap;
}

/* Similar to Bulma's is-hidden, but it lets the element load in 
  Useful for onload events*/
.is-invisible {
	height: 0;
	width: 0;
}

#mirror {
	font-family: "Noto Sans JP", sans-serif;
}

#reflection {
	font-family: "Klee One", sans-serif;
	overflow: auto;
}
